
.menu  
    &__list
        @include displayflex-menu(row)     
        list-style: none

    &__item
        margin: 15px 15px 15px 0px

    &__link
        text-decoration-line: none
        color: $colorwhite
        font-size: 20px
        border-left: 1px solid white
        padding-left: 25px
    
    &__link:hover
        color: yellow
        text-shadow: 0px 0px 24px rgba(66, 68, 90, 1)

    &__link--border-none
        border-left: none
 
    &__drop
        @include displayflex-menu(column)
        display: none
        position: absolute
        top: 54px
        padding: 0px 0px 10px 0px
        background-color: $background-color-menu
        box-shadow: 0px 18px 27px 0px rgba(66, 68, 90, 1)

    &__item-drop
        text-align: center
        
    &__link-drop
        border-left: none
        display: block
        position: relative
        left: 5px
        padding: 0px
        text-align: center

    &__submenu:hover &__drop
         display: block

button
    border: none
    background-color: $background-color-menu
    
